@keyframes scaleIntro {
  from {
    transform: scale(105%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes scaleProducts {
  from {
    opacity: 0%;
    transform: scale(105%);
  }
  to {
    opacity: 100%;
    transform: scale(100%);
  }
}

// @keyframes translateIntro {
//   from {
//     opacity: 0%;
//     transform: translateY(110%);
//   }

//   to {
//     opacity: 100%;
//     transform: translateY(0%);
//   }
// }
@keyframes translateIntro {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }
  50% {
    opacity: 0%;
    transform: translateY(100%);
  }
  // 75% {
  //   opacity: 0%;
  //   transform: translateY(100%);
  // }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@keyframes translateMotto {
  0% {
    opacity: 0%;
    transform: translateY(5%);
  }
  50% {
    opacity: 0%;
    transform: translateY(5%);
  }
  // 75% {
  //   opacity: 0%;
  //   transform: translateY(100%);
  // }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fade2 {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes checkout {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes checkoutReverse {
  from {
    opacity: 100%;
    width: 100%;
  }
  to {
    opacity: 100%;
    width: 0%;
  }
}

@keyframes test {
  from {
    translate: 10% 0;
  }
  to {
    translate: 0% 0;
  }
}

@keyframes deleting {
  from {
    opacity: 0%;
    transform: translateX(105%);
  }
  to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @keyframes zoomIn {
//   0% {
//     position: static;
//     scale: 1;
//     translate: 0%, 0%;
//     opacity: 100;
//   }
//   100% {
//     scale: 2;
//     opacity: 0;
//   }
// }
