@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (max-width: 112.5em) {
      @content;
    }
  }
}

@mixin delayChild {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      opacity: 100%;
      transition: all 0.2s #{$i * 0.1}s ease-in;
    }
  }
}

@mixin delayList {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      opacity: 100%;
      // color: black;
      transform: translateY(0%);
      transition: all 0.5s #{$i * 0.1}s ease-in;
    }
  }
}
@mixin delayCart {
  @for $i from 1 through 20 {
    div:nth-of-type(#{$i}) {
      opacity: 100%;
      transform: translateX(0%);
      transition: transform 0.4s #{$i * 0.1}s ease-in-out,
        opacity 0.6s #{$i * 0.1}s ease-in;
    }
  }
}

@mixin delaySearchItem {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation: fade #{$i * 0.25}s ease-in;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin originCenter {
  translate: -50% -50%;
}

@mixin filterBrown {
  filter: invert(19%) sepia(7%) saturate(5238%) hue-rotate(333deg)
    brightness(100%) contrast(98%);
}

@mixin line-clamp($lines, $line-height) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  max-height: $lines * $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin btn-hover-effect($color, $firstbgcolor, $secondbgcolor) {
  &:hover {
    color: $color;
    &::after {
      left: 0;
      opacity: 100%;
      background-color: $firstbgcolor;
      animation: checkout 300ms ease-in-out;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondbgcolor;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-color: $firstbgcolor;
    animation: checkoutReverse 350ms ease-in-out;
  }
}
