:root {
  --COLOR-BG: #dadad2;
  --COLOR-WHITE: #fff;
  --COLOR-SEPARATOR: #ebebe2;
  --COLOR-HERO-HOVER-LINK: #5b2a14;
  --COLOR-ITEM-HOVER-BTN: #5b2a14;
  --COLOR-HEADER-STICKY: #5b2a14;
  --COLOR-SEARCHBAR-BTN: #000000;
  --COLOR-SEARCHBAR-SHADOW: #00000039;
  --COLOR-ITEM-INFO: #565659;
  --COLOR-CURRENT-VARIANT: rgba(188, 188, 188, 0.555);
}
