html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }
  @include respond(tab-land) {
    font-size: 62.5%;
  }
  @include respond(tab-port) {
    font-size: 62.5%;
  }
  @include respond(phone) {
    font-size: calc(100vw * 0.016);
    // font-size: 37%;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--COLOR-BG);

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
}
