.carousel {
  opacity: 0%;
  visibility: hidden;
  // max-width: calc(100vw - 21px);
  height: 100%;
  @include flexCenter;
  @media (width > 1200px) {
    cursor: default !important;
  }
  @media (width > 950) {
    max-width: calc(100vw - 21px);
  }

  &--fade {
    opacity: 100%;
    visibility: visible;
    transition: visibility 0.3s, opacity 0.5s linear;
  }
  &__wrapper {
    width: 100vh;
    overflow: hidden;
    // border: red 4px dashed;
    &--zoom {
      @media (width < 1200px) {
        max-width: none;
        transition: all 0.3s ease-in-out;
        width: 150vh;
      }
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s;

    &__item {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &__picture {
        width: 100%;
        max-width: 1700px;
        height: auto;

        &--zoom {
          @media (width < 1200px) {
            width: 200vh;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
  &__actions {
    z-index: 999;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0%;

    @include flexCenter;

    &__wrapper {
      width: 100%;
      height: fit-content;
      display: inline-flex;
      justify-content: space-between;
      padding-inline: 30px;

      & button {
        height: 50px;
        width: 50px;
        border: solid 1px #fff9f9;
        background-color: transparent;
        @include flexCenter;

        @media (width <= 750px) {
          img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg)
              brightness(104%) contrast(105%);
          }
        }

        &:hover {
          background-color: #fcfcfcce;
        }
      }
    }
  }
}

.carousel-dummy {
  z-index: 999;
  position: fixed;
  opacity: 0%;
  top: var(--final-coordinate-top);
  left: var(--final-coordinate-left);
  height: var(--final-dimension-height);
  width: var(--final-dimension-width);

  &--zoomIn {
    animation: zoomIn 0.4s ease-in-out;
  }
  &--zoomOut {
    animation: zoomOut 0.4s ease-in-out;
  }

  @keyframes zoomIn {
    from {
      opacity: 100%;
      top: var(--img-coordinate-top);
      left: var(--img-coordinate-left);
      height: var(--img-dimension-height);
      width: var(--img-dimension-width);
    }
    to {
      opacity: 0%;
    }
  }
  @keyframes zoomOut {
    from {
      opacity: 0%;
      top: var(--final-coordinate-top);
      left: var(--final-coordinate-left);
      height: var(--final-dimension-height);
      width: var(--final-dimension-width);
    }
    to {
      opacity: 100%;
      top: var(--img-coordinate-top);
      left: var(--img-coordinate-left);
      height: var(--img-dimension-height);
      width: var(--img-dimension-width);
    }
  }
  & img {
    width: 100%;
    height: auto;
  }
}
