[data-scroll-lock="true"] {
  max-width: calc(100vw - var(--scrollbar-compensation));
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  --COLOR-HEADER-ELEMENT: var(--COLOR-WHITE);
  transition: background-color 150ms ease-in-out;

  &__board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 5rem;
    transition: 150ms ease-in-out;

    &__sticky {
      transition: background-color 150ms ease-in-out;
      background-color: var(--COLOR-BG);
      --COLOR-HEADER-ELEMENT: var(--COLOR-HEADER-STICKY);
    }

    &__left {
      display: flex;
      &__menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 100%;
        margin-right: 2.2rem;

        &__button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 3rem;
          cursor: pointer;
          --duration: 110ms;

          &--close {
            & div {
              width: 1.8rem;
              height: 0;
              border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 0.5rem 0.5rem;
              transition: transform var(--duration) linear;
            }

            &::before {
              content: " ";
              z-index: 999;
              position: absolute;
              top: 28%;
              width: 1.8rem;
              height: 0;

              border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 0.5rem 0.5rem;
              transition: transform var(--duration) linear;
            }
            &::after {
              content: " ";
              z-index: 999;
              position: absolute;
              bottom: 28%;
              width: 1.8rem;
              height: 0;

              border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 0.5rem 0.5rem;
              transition: transform var(--duration) linear;
            }
          }

          &--open {
            & div {
              width: 1.8rem;
              height: 0;
              border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 0.5rem 0.5rem;
              transform: rotate(135deg);
              transition: transform var(--duration) linear;
            }
            &::before {
              content: " ";
              z-index: 999;
              position: absolute;
              // left: 50%;
              width: 1.8rem;
              height: 0;
              transform: rotate(-135deg);

              border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 0.5rem 0.5rem;
              transition: transform var(--duration) linear;
            }
            &::after {
              content: " ";
              z-index: 999;
              position: absolute;
              // left: 50%;
              width: 1.8rem;
              height: 0;
              transform: rotate(-135deg);

              border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 0.5rem 0.5rem;
              transition: transform var(--duration) linear;
            }
          }
        }
      }
      &__search {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 100%;

        &__button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 3rem;
          cursor: pointer;

          & div {
            width: 1.8rem;
            height: 1.8rem;
            border: 1px solid var(--COLOR-HEADER-ELEMENT);
            border-radius: 50%;
          }

          &::before {
            content: " ";
            z-index: 999;
            position: absolute;
            bottom: 20%;
            right: 4%;
            width: 0.7rem;
            height: 0;
            transform: rotate(45deg);

            border-top: 1px solid var(--COLOR-HEADER-ELEMENT);
            border-radius: 0 0.5rem 0.5rem 0;
          }
        }
      }
    }
    &__middle {
      position: relative;

      // padding-block: 1rem;
      &__logo {
        z-index: 99;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 6.6rem;
        width: 21rem;
        max-width: 21rem;

        background-image: url("./../../header/finecraft.png");
        background-size: 100%;
        background-repeat: no-repeat;

        @include respond(phone) {
          padding-inline: 1.6rem;
          width: calc(100vw * 0.3);
        }
      }
    }
    &__right {
      display: flex;
      justify-content: flex-end;
      &__account {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 100%;
        margin-right: 2.4rem;

        &__button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 3rem;
          cursor: pointer;

          & div {
            position: relative;
            height: 2.6rem;
            width: 2.6rem;
            overflow: hidden;

            border: 1px solid var(--COLOR-HEADER-ELEMENT);
            border-radius: 50%;

            &::before {
              content: " ";
              z-index: 999;
              position: absolute;
              transform: translate(-50%, -50%);
              top: 38%;
              left: 50%;
              height: 1rem;
              width: 1rem;

              border: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 50%;
            }

            &::after {
              content: " ";
              position: absolute;
              transform: translate(-50%, -50%);
              top: 150%;
              left: 50%;
              height: 4rem;
              width: 4rem;

              border: 1px solid var(--COLOR-HEADER-ELEMENT);
              border-radius: 50%;
            }
          }
        }
      }
      &__cart {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.8rem;
        height: 100%;

        &__tag {
          position: absolute;
          top: 10%;
          right: -18%;
          height: 15px;
          width: 15px;
          @include flexCenter;
          font-size: 10px;
          color: var(--COLOR-BG);
          background-color: var(--COLOR-WHITE);
          border-radius: 50%;

          &--brown {
            position: absolute;
            top: 10%;
            right: -18%;
            height: 15px;
            width: 15px;
            @include flexCenter;
            font-size: 10px;
            color: var(--COLOR-BG);
            border-radius: 50%;
            background-color: var(--COLOR-BROWN);
          }

          &--hidden {
            display: none;
          }
        }

        &__button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 3rem;
          cursor: pointer;

          &--white {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%;
            background-image: url("./../../img/header/cart.png");
          }
          &--brown {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%;
            background-image: url("./../../img/header/cart--brown.png");
          }
        }
      }
    }

    @include respond(phone) {
      padding-inline: 1.6rem;
    }
  }

  &__menuOverlay {
    position: absolute;
    height: 0vh;
    width: 0%;
    z-index: -2;
    opacity: 0%;
    transition: background-color 250ms ease-out, height 0ms ease-in-out 450ms,
      width 50ms ease-in 450ms, opacity 200ms ease-out 250ms;
    background-color: #00000062;
    // transition: background-color 450ms ease-in-out 450ms;
    // opacity 450ms ease-in-out 450ms;
    &--open {
      height: 100vh;
      width: 100%;
      opacity: 100%;
      background-color: #00000062;
      transition: background-color 450ms ease-in-out 450ms;
    }
  }

  &__drawer {
    overflow: hidden;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--COLOR-BG);
    opacity: 0%;
    transform: translateX(-100%);
    transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;

    &--open {
      opacity: 100%;
      transform: translateX(0%);
      transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
    }

    ul li {
      opacity: 0%;
      // color: var(--COLOR-BG);
      transform: translateY(-50%);
      transition: opacity 0.3s ease-in;

      &.animation {
        @include delayList;
      }
    }

    li {
      margin-bottom: 3.5rem;

      button {
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-family: inherit;
        letter-spacing: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
      }

      img {
        height: 1.5rem;
        width: 1.5rem;
        transition: transform 250ms ease-in-out;
      }

      &:hover a {
        color: var(--COLOR-WHITE);
      }
      &:hover img {
        transform: translateX(3px);
        transition: transform 250ms ease-in-out;
      }
    }
    &__wrapper {
      display: flex;
      transition: transform 250ms ease-in-out;

      &--secondary {
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
      }
      &--tertiary {
        transform: translateX(-200%);
        transition: transform 250ms ease-in-out;
      }
    }

    &__primary {
      padding: 2rem;
      min-height: 100%;
      min-width: 100%;
    }
    &__secondary {
      padding: 2rem;
      min-height: 100%;
      min-width: 100%;

      &__category {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        button {
          width: fit-content;
          background-color: transparent;
          border: none;
          transition: transform 250ms ease-in-out;
          img {
            transform: rotate(180deg);
            height: 1.5rem;
            width: 1.5rem;
          }
          &:hover {
            transition: transform 250ms ease-in-out;
            transform: translateX(-3px);
          }
        }
        p {
          flex-grow: 1;
          text-align: center;
          &:hover {
            color: var(--COLOR-WHITE);
          }
        }
      }
    }
    &__tertiary {
      padding: 2rem;

      min-height: 100%;
      min-width: 100%;

      &__category {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        button {
          width: fit-content;
          background-color: transparent;
          border: none;
          transition: transform 250ms ease-in-out;
          img {
            transform: rotate(180deg);
            height: 1.5rem;
            width: 1.5rem;
          }
          &:hover {
            transition: transform 250ms ease-in-out;
            transform: translateX(-3px);
          }
        }
        p {
          flex-grow: 1;
          text-align: center;
          &:hover {
            color: var(--COLOR-WHITE);
          }
        }
      }
    }

    // &--open {
    //   transition: transform 0.3s ease-out;
    //   transform: translateX(0%);
    // }

    @media (1000px<width) {
      width: 50vw;
      max-width: 640px;
    }
    @media (width<=1000px) {
      max-width: 380px;
    }
  }
  /**
   * -- SEARCHBAR--
   */
  &__searchBar {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    opacity: 0%;
    transform: translateY(-120%);
    transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;

    &--open {
      opacity: 100%;
      transform: translateY(0%);
      transition: transform 450ms ease-in, opacity 450ms ease-in-out;
    }

    &__loader {
      width: 100%;
      height: 3rem;
      background-color: var(--COLOR-BG);
    }

    &__results {
      background-color: var(--COLOR-BG);
      padding: 1.6rem;
      padding-bottom: 3rem;
      width: 100%;
      min-height: 11rem;
      animation: fade 250ms ease-in-out;
      transition: animation 250ms ease-in-out;
      & div {
        @include delaySearchItem;
      }

      &__wrapper {
        min-height: 2rem;
        margin-bottom: 3rem;
      }

      &__grid {
        width: 100%;
        min-height: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 1rem;

        // animation: fade 250ms ease-in-out;
        // transition: animation 250ms ease-in-out;
        & li {
          @include delaySearchItem;
        }

        @media (width >= 46.87em) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (width <= 31.25em) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    &__form {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding-inline: 0.5rem;
      background-color: var(--COLOR-BG);
      box-shadow: 0 4px 10px 0px var(--COLOR-SEARCHBAR-SHADOW);

      & button {
        display: flex;
        justify-content: center;
        height: 100%;
        border: none;
        background-color: var(--COLOR-BG);
      }

      &__search {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 100%;

        & div {
          width: 1.4rem;
          height: 1.4rem;
          border: 1px solid var(--COLOR-SEARCHBAR-BTN);
          border-radius: 50%;
        }

        &::before {
          content: " ";
          position: absolute;
          bottom: 43%;
          right: 10%;
          width: 0.5rem;
          height: 0;
          transform: rotate(40deg);

          border-top: 1px solid var(--COLOR-SEARCHBAR-BTN);
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }

      &__close {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4rem;
        height: 100%;

        img {
          width: 1.4rem;
          height: 1.4rem;
          transition: transform 250ms ease-in-out;
        }

        &:hover {
          img {
            filter: invert(100%) sepia(99%) saturate(26%) hue-rotate(38deg)
              brightness(106%) contrast(100%);
            transform: rotate(90deg);
            transition: transform 250ms ease-in-out;
          }
        }
      }

      input {
        flex: 1;
        padding-inline: 1rem;
        border: none;
        background-color: var(--COLOR-BG);

        &::placeholder {
          font-size: 0.9rem;
          color: black;
        }
      }
    }
  }
}
