.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;

  &__picture {
    position: relative;
    overflow: hidden;

    &:hover &__second {
      opacity: 100%;
    }
    &:hover &__second__add--large {
      transition: 0.5s ease-in-out;
      transform: translateY(0%);
      opacity: 100%;
    }

    &:hover ~ .item__infos {
      color: var(--COLOR-WHITE);
    }

    &__animation {
      animation: 1s ease-in-out scaleProducts;
    }

    img {
      height: auto;
      width: 100%;
    }

    &__second {
      position: absolute;
      top: 0;
      opacity: 0%;
      transition: 150ms ease-in-out;

      &__add--small {
        z-index: 10;
        position: absolute;
        background-color: var(--COLOR-BG);
        width: 5.5rem;
        height: 5.5rem;
        bottom: 1rem;
        left: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          width: 2rem;
        }
      }

      &__add--large {
        display: none;
        opacity: 0%;
        position: absolute;
        width: 100%;
        height: 5rem;
        bottom: 0%;
        left: 0%;
        padding-top: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        background: rgba(218, 218, 210, 0.672);
        transform: translateY(40%);
        transition: 450ms ease-out;
      }
      @media (width >= 46.87em) {
        &__add--small {
          display: none;
        }
        &__add--large {
          display: block;
        }
      }
    }
  }
  &__infos {
    width: 100%;
    height: 100%;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    @include respond(big-desktop) {
      padding: 0;
    }
    @include respond(tab-land) {
      padding: 1.2rem;
    }

    &__title {
      width: 20rem;
      text-transform: capitalize;
      line-height: 1.2;
      letter-spacing: 0.09rem;
      margin: 0 auto;
      &:hover {
        color: var(--COLOR-WHITE);
      }
    }
    &__price {
      font-size: 90%;
      color: var(--COLOR-ITEM-INFO);
    }
    &__variants {
      position: relative;
      width: 100%;
      font-size: 90%;
      color: var(--COLOR-ITEM-INFO);
      padding: 0.8rem 1.4rem;

      &__grid {
        position: absolute;
        top: 115%;
        left: 50%;
        // right: -5px;
        transform: translateY(-50%);
        @include originCenter;
        width: 100%;
        opacity: 0%;
        &:hover {
          opacity: 100%;
          transition: 350ms ease-in-out;
        }
        &:hover &__scrollbar .test {
          @include delayChild;
        }

        &__actions {
          z-index: -3;
          position: absolute;
          height: 2rem;
          top: 50%;
          left: -5px;
          right: -5px;
          padding: 0 1.4rem;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__btn {
            border: none;
            background-color: transparent;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              filter: invert(17%) sepia(32%) saturate(1779%) hue-rotate(343deg)
                brightness(94%) contrast(92%);
            }

            & img {
              width: 2rem;
              height: 2rem;
            }
          }
          .btn--left {
            transform: rotate(180deg);
          }
        }

        &__scrollbar {
          position: relative;
          overflow-y: hidden;
          overflow-x: auto;
          background-color: var(--COLOR-BG);
          top: 0;
          transform: translate(-50%);
          left: 50%;
          min-height: 100%;
          width: fit-content;
          max-width: 70%;
          display: flex;
          justify-content: flex-start;

          &::-webkit-scrollbar {
            display: none;
          }

          img {
            width: 100%;
          }
          div {
            opacity: 0;
            flex-shrink: 0;
            flex-grow: 0;
            height: 3rem;
            width: 3rem;
            margin: 0.5rem;
            overflow: hidden;
            // border: 1px black solid;

            @include flexCenter;
            &.current {
              outline: 2px var(--COLOR-CURRENT-VARIANT) solid;
            }

            // background-color: rgb(142, 142, 238);
            & img {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
}
