.review-form {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: playfair_displayregular;
  letter-spacing: 0.5px;
  background-color: #00000062;
  @media (width<800px) {
    background-color: #ffffff;
  }
  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    @include originCenter;
    height: 680px;
    width: 770px;
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--COLOR-WHITE);
    animation: scale-in 0.3s ease-in-out;

    @media (width<800px) {
      // height: 68rem;
      width: 77rem;
    }

    &__close {
      z-index: 9999;
      position: absolute;
      top: 10px;
      left: 10px;
      height: 40px;
      width: 40px;
      background-color: #ffffff38;
      border: none;
      border-radius: 9px;
      transition: visibility 0.5s ease-in-out 1.5s,
        opacity 0.5s ease-in-out 1.5s;
      @include flexCenter;
      @media (width<800px) {
        top: 40px;
        left: 50px;
      }

      & img {
        height: 14px;
        width: 14px;
      }
      &:hover {
        background-color: #2d2d2d2b;
        transition: all 0.3s ease-in-out;
      }
    }
    &__action {
      z-index: 9999;
      position: absolute;
      bottom: 0%;
      left: 50%;
      height: 100px;
      width: 100%;
      translate: -50% 0%;
      padding-inline: 15px;
      display: flex;
      align-items: center;
      // border: 1px darkblue dashed;
      transition: visibility 0.3s ease-in-out 1.2s,
        translate 0.3s ease-in-out 1.2s;

      @media (width<800px) {
        width: 100vw;
        justify-content: space-around;
      }

      & .disabled {
        background-color: #c8c8c8ba;
        transition: all 0.3s ease-in-out;
      }

      & button {
        border: none;
        height: 50px;
        font-family: playfair_displayregular;
        font-size: larger;
        font-weight: 600;
        background-color: transparent;
        border-radius: 3px;

        &:hover {
          background-color: #c8c8c8ba;
          transition: all 0.3s ease-in-out;
        }
      }
      &__back {
        width: 15%;
        @include flexCenter;
        & img {
          height: auto;
          width: 30px;
          margin-right: 5px;
        }
      }
      &__progression {
        height: 100%;
        width: 70%;
        @include flexCenter;
        gap: 10px;

        @media (width<800px) {
          width: 50%;
        }
        & div {
          width: 80px;
          height: 8px;
          border-radius: 50px;

          background-color: #c8c8c8ba;
          @media (width<800px) {
            width: 50px;
            height: 20px;
          }
        }
      }
      &__skip {
        width: 15%;
      }
    }

    &__inner {
      height: 100%;
      width: 100%;
      white-space: nowrap;
      transition: transform 0.3s;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      //   background-color: pink;
      &__frame {
        height: 100%;
        width: 100%;
        white-space: nowrap;
        transition: transform 0.3s;
        display: inline-flex;
        transition: all 1s ease-in-out 1s;
        &__one,
        &__two,
        &__three,
        &__four,
        &__five,
        &__six {
          height: 100%;
          min-width: 770px;

          @media (width<800px) {
            min-width: 77rem;
          }

          // border: 1px dashed black;
        }
        &__one {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          & h1 {
            font-size: 20px;
            @media (width<800px) {
              font-size: 2rem;
            }
          }
          &__stars {
            position: relative;
            margin-top: 45px;
            &__star {
              height: 80px;
              width: 80px;
              padding: 0;
              border: none;
              background-color: transparent;

              @media (width<800px) {
                height: 8rem;
                width: 8rem;
              }
              & img {
                height: auto;
                width: 52px;
                padding-bottom: 11px;
                @media (width<800px) {
                  height: auto;
                  width: 5.2rem;
                  padding-bottom: 1.1rem;
                }
              }
            }

            & p {
              font-size: 12px;
            }
            &__min {
              position: absolute;
              bottom: -20px;
              left: -5px;
            }
            &__max {
              position: absolute;
              bottom: -20px;
              right: 18px;
            }
          }
        }
        &__two {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & h1 {
            font-size: 30px;
            font-weight: bolder;
          }
          & p {
            color: #4b4b4b;
            margin-bottom: 30px;
          }
          &__inputs {
            height: fit-content;
            width: 500px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid black;

            @media (width<800px) {
              width: 50rem;
            }

            & label {
              height: 55px;
              width: 100%;
              color: white;
              font-size: 16px;
              font-weight: bolder;
              @include flexCenter;
              background-color: black;
              & img {
                margin-right: 10px;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
                  brightness(102%) contrast(102%);
              }
            }

            & input {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              z-index: -1;
            }
          }
        }
        &__three {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & h1 {
            font-size: 30px;
            font-weight: bolder;
            margin-bottom: 30px;

            @media (width<800px) {
              font-size: 3rem;
            }
          }
          &__btns {
            height: fit-content;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @media (width<800px) {
              width: 50rem;
            }

            & button {
              height: 50px;
              width: 100%;
              font-weight: bolder;
              border: 2px solid black;
              background-color: transparent;
              &:hover {
                color: white;
                background-color: black;
                transition: all 0.3s ease-in-out;
              }
            }
            & .active {
              color: white;
              background-color: black;
            }
          }
        }
        &__five {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & h1 {
            font-size: 30px;
            font-weight: bolder;
            margin-bottom: 30px;
            @media (width<800px) {
              font-size: 3rem;
            }
          }
          & textarea {
            height: 280px;
            width: 500px;
            padding: 20px 15px;
            resize: none;

            @media (width<800px) {
              width: 50rem;
            }
            &::placeholder {
              font-family: playfair_displayregular;
              font-size: 14px;
            }
          }
        }
        &__six {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: bolder;

          & h1 {
            font-size: 30px;
            margin-bottom: 20px;
            @media (width<800px) {
              font-size: 3rem;
            }
          }
          &__inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            height: fit-content;
            width: 500px;
            gap: 20px;
            @media (width<800px) {
              width: 50rem;
            }
            & label {
              font-size: 16px;
            }
            &__name {
              display: flex;
              gap: 10px;
            }
            & input {
              height: 50px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

#star1 {
  height: 80px;
  width: 80px;
}
