.tabs {
  // height: fit-content;
  width: 100%;
  // border: 1px darkblue dashed;
  &__nav {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__tab {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      padding-inline: 5px;
      margin-right: 20px;
      cursor: pointer;
      border-bottom: 3px solid #ebebe200;
      transition: all 0.3s ease-in-out;

      &--active {
        cursor: default;
        border-bottom: 3px solid #ebebe2;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.firstTab {
  // border: 1px darkblue dashed;
  margin-top: 30px;
  width: 100%;

  @include flexCenter;
  &__wrapper {
    width: 100%;
    max-width: 1100px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    display: inline-flex;
    gap: 20px;
    // border: 1px rgb(88, 0, 139) dashed;

    @media (width< 1800px) {
      max-width: 1035px;
    }
    @media (width< 1200px) {
      max-width: 965px;
    }
    @media (width< 950px) {
      max-width: 480px;
      justify-content: left !important;
    }
    @media (width< 600px) {
      .item {
        width: 300px;
      }
      display: flex;
      justify-content: left !important;
      max-width: 290px;
    }
  }
}
