$COLOR-VIDEO-BG: #cecec4;
$COLOR-BG: #dadad2;
$COLOR-BG-TRANSPARENT: rgba(218, 218, 210, 0);
$COLOR-BG-SECONDARY: #dadad2;
$COLOR-BG-RGB: 218, 218, 210;
$COLOR-TEXT-DARK: #000000;
$COLOR-TEXT: #212121;
$COLOR-TEXT-LIGHT: #595956;
$COLOR-A5: rgba(33, 33, 33, 0.05);
$COLOR-A10: rgba(33, 33, 33, 0.1);
$COLOR-A15: rgba(33, 33, 33, 0.15);
$COLOR-A20: rgba(33, 33, 33, 0.2);
$COLOR-A25: rgba(33, 33, 33, 0.25);
$COLOR-A30: rgba(33, 33, 33, 0.3);
$COLOR-A35: rgba(33, 33, 33, 0.35);
$COLOR-A40: rgba(33, 33, 33, 0.4);
$COLOR-A45: rgba(33, 33, 33, 0.45);
$COLOR-A50: rgba(33, 33, 33, 0.5);
$COLOR-A55: rgba(33, 33, 33, 0.55);
$COLOR-A60: rgba(33, 33, 33, 0.6);
$COLOR-A65: rgba(33, 33, 33, 0.65);
$COLOR-A70: rgba(33, 33, 33, 0.7);
$COLOR-A75: rgba(33, 33, 33, 0.75);
$COLOR-A80: rgba(33, 33, 33, 0.8);
$COLOR-A85: rgba(33, 33, 33, 0.85);
$COLOR-A90: rgba(33, 33, 33, 0.9);
$COLOR-A95: rgba(33, 33, 33, 0.95);
$COLOR-BORDER: rgb(235, 235, 226);
$COLOR-BORDER-LIGHT: #e4e4dc;
$COLOR-BORDER-HAIRLINE: #d3d3ca;
$COLOR-BORDER-DARK: #c1c1a6;
$COLOR-PRIMARY: #ffffff;
$COLOR-PRIMARY-HOVER: #d9d9d9;
$COLOR-PRIMARY-FADE: rgba(255, 255, 255, 0.05);
$COLOR-PRIMARY-FADE-HOVER: rgba(255, 255, 255, 0.1);
$COLOR-PRIMARY-OPPOSITE: #000000;
$COLOR-SECONDARY: #5b2a14;
$COLOR-SECONDARY-HOVER: #1e0c04;
$COLOR-SECONDARY-FADE: rgba(91, 42, 20, 0.05);
$COLOR-SECONDARY-FADE-HOVER: rgba(91, 42, 20, 0.1);
$COLOR-SECONDARY-OPPOSITE: #ffffff;
$COLOR-LINK: #212121;
$COLOR-LINK-HOVER: #5b2a14;
$COLOR-LINK-FADE: rgba(33, 33, 33, 0.05);
$COLOR-LINK-FADE-HOVER: rgba(33, 33, 33, 0.1);
$COLOR-LINK-OPPOSITE: #ffffff;
$COLOR-SALE-BG: #ebebe2;
$COLOR-SALE-TEXT: #dadad2;
$COLOR-SALE-TEXT-SECONDARY: #ebebe2;
$COLOR-BADGE-BG: #dadad2;
$COLOR-BADGE-TEXT: #ca2027;
$COLOR-SALE: #5b2a14;
$filter-bg: 1;
$COLOR-ERROR: #721c24;
$COLOR-ERROR-BG: #f8d7da;
$COLOR-ERROR-BORDER: #f5c6cb;
$RADIUS: 0px;
$RADIUS-SM: 0px;
$COLOR-ANNOUNCEMENT-BG: #ffffff;
$COLOR-ANNOUNCEMENT-TEXT: #ab8c52;
$COLOR-ANNOUNCEMENT-BORDER: #e6ddcb;
$COLOR-HEADER-BG: #dadad2;
$COLOR-HEADER-LINK: #5b2a14;
$COLOR-HEADER-LINK-HOVER: #5b2a14;
$COLOR-MENU-BG: #dadad2;
$COLOR-MENU-BORDER: #dadad2;
$COLOR-MENU-LINK: #212121;
$COLOR-MENU-LINK-HOVER: #ffffff;
$COLOR-SUBMENU-BG: #dadad2;
$COLOR-SUBMENU-LINK: #212121;
$COLOR-SUBMENU-LINK-HOVER: #ffffff;
$COLOR-MENU-TRANSPARENT: #ffffff;
$COLOR-FOOTER-BG: #dadad2;
$COLOR-FOOTER-TEXT: #000000;
$COLOR-FOOTER-LINK: #212121;
$COLOR-FOOTER-LINK-HOVER: #5b2a14;
$COLOR-FOOTER-BORDER: #000000;
$TRANSPARENT: rgba(255, 255, 255, 0);
$overlay-opacity: 0;
$icon-zoom-in: url(//cdn.shopify.com/s/files/1/0075/8682/t/142/assets/icon-zoom-in.svg?v=1269966…);
$icon-zoom-out: url(//cdn.shopify.com/s/files/1/0075/8682/t/142/assets/icon-zoom-out.svg?v=1286757…);
$PRODUCT-GRID-ASPECT-RATIO: 70%;
$PRODUCT-GRID-SIZE-PIECE: 7;
$FONT-WEIGHT-BODY: 400;
$FONT-WEIGHT-BODY-BOLD: 500;
$FONT-STACK-BODY: "Neue Haas Unica", sans-serif;
$FONT-STYLE-BODY: normal;
$FONT-ADJUST-BODY: 0.8;
$FONT-WEIGHT-HEADING: 700;
$FONT-WEIGHT-HEADING-BOLD: 700;
$FONT-STACK-HEADING: "Caslon Old Face", serif;
$FONT-STYLE-HEADING: normal;
$FONT-ADJUST-HEADING: 0.75;
$FONT-STACK-NAV: "Neue Haas Unica", sans-serif;
$FONT-STYLE-NAV: normal;
$FONT-ADJUST-NAV: 0.75;
$FONT-WEIGHT-NAV: 400;
$FONT-WEIGHT-NAV-BOLD: 500;
$FONT-SIZE-BASE: 0.8rem;
$FONT-SIZE-BASE-PERCENT: 0.8;
$ICO-SELECT: url(//cdn.shopify.com/s/files/1/0075/8682/t/142/assets/ico-select.svg?v=1156308…);
$PARALLAX-STRENGTH-MIN: 125%;
$PARALLAX-STRENGTH-MAX: 135%;
$gutter: 60px;
$grid: repeat(4, minmax(0, 1fr));
$grid-tablet: repeat(3, minmax(0, 1fr));
$grid-small: repeat(2, minmax(0, 1fr));
$grid-mobile: repeat(1, minmax(0, 1fr));
$gap: 20px;
$base-animation-delay: 0ms;
