.products-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px rgb(51, 0, 255) dashed;

  @media (width >= 950px) {
    grid-template-columns: minmax(475px, 950px) 475px;
  }
  @media (width <= 750px) {
    display: flex;
    flex-direction: column;
  }
  //   @media (width >= 46.87em) {
  //     grid-template-columns: repeat(2, 1fr);
  //   }
  &__pictures {
    border: 1px rgb(255, 0, 0) dashed;
    transition: all 0.3s ease-in-out;

    & img:not(:last-child) {
      height: auto;
      width: 100%;
      @media (750px < width < 950px) {
        margin-bottom: 10px;
      }
    }

    &__other {
      //   border: 1px purple solid;

      & img {
        height: auto;
        width: 100%;
      }
      @media (width <= 750px) {
        display: none;
      }

      @media (width >= 950px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }
    }
  }
  &__details {
    position: sticky;
    top: 100px;
    height: fit-content;
    width: 100%;
    padding-inline: 30px;
    border: 1px rgb(0, 0, 0) dashed;
    &__options {
      &__title {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &__price {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      &__variants {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 40px;

        & .currentVariant {
          outline: 2px var(--COLOR-CURRENT-VARIANT) solid;
        }

        & div {
          height: 43px;
          width: 43px;
          overflow: hidden;
          &:not(:first-child) {
            margin-left: 10px;
          }
          @include flexCenter;
          cursor: pointer;
          // border: 1px solid black;
          & img {
            height: 100%;
            width: auto;
          }
        }
      }
      &__types {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // border: 1px solid black;

        & .notAvailable {
          text-decoration: line-through;
        }
        & .currentType {
          border: 1px solid var(--COLOR-WHITE);
        }
        & button {
          font-size: 10px;
          padding: 15px;
          padding-inline: 20px;
          border: 1px solid #ebebe2;
          background-color: transparent;
          margin-bottom: 10px;
          margin-right: 10px;

          cursor: pointer;
          &:hover {
            border: 1px solid var(--COLOR-ITEM-HOVER-BTN);
            transition: all 250ms ease-in-out;
          }
        }
      }
      &__add {
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 60px;
        &__btn {
          height: 100%;
          width: 100%;
          border: none;
          @include flexCenter;
          background-color: #5a31f4;
          &:hover {
            background-color: #3c0def;
          }
          & img {
            height: auto;
            width: 80px;
          }
        }
      }
    }
    &__infos {
      height: 100%;
      width: 100%;
      // padding: 10px;
      border-bottom: 1px solid #ebebe2;
      &__wrapper {
        height: 100%;
        width: 100%;
        font-family: playfair_displayregular;
        font-weight: 500;
        border-top: 1px solid #ebebe2;
        border-bottom: 1px solid #ebebe2;
        & strong {
          font-weight: 700;
          border-bottom: 1px black solid;
          letter-spacing: 0.1px;
        }
        &__title {
          height: 50px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //   padding-inline: 15px;

          &__btn {
            width: 24px;
            height: 100%;
            @include flexCenter;
            background-color: transparent;
            border: none;
            &:hover {
              @include filterBrown;
            }

            &__icon {
              @include flexCenter;
              position: relative;
              width: 14px;
              height: 14px;
              & div {
                width: 100%;

                border: 1px solid black;
                &::before {
                  content: "";
                  position: absolute;
                  @include originCenter;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  transform: rotate(90deg);
                  border: 1px solid black;
                  transition: transform 250ms ease-in-out;
                }
              }
              &--open {
                & div {
                  &::before {
                    transform: rotate(180deg);
                    transition: transform 250ms ease-in-out;
                  }
                }
              }
            }
          }
        }

        &__content {
          max-height: 0;
          overflow: hidden;
          // padding-inline: 15px;
          transition: max-height 0.6s ease-out;

          &--open {
            max-height: 600px;
            transition: max-height 0.6s ease-in;
          }
        }
      }
    }
  }
}

.products-materials {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
  margin: 0 auto;

  &__text {
    width: 40%;
    padding: 30px;
    letter-spacing: 0.1px;
    background-color: #ebebe2;

    & strong {
      font-family: playfair_displayregular;
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__img {
    height: 100%;
    width: auto;
    overflow: hidden;

    & img {
      height: 100px;
      width: 200px;
    }
  }
  &__link {
    width: fit-content;
  }
}

.products-tabs {
  margin-top: 30px;
  height: 350px;
  width: 100%;
  border: #3c0def 1px dashed;
}

.products-reviews {
  margin-top: 30px;
  width: 100%;
  height: fit-content;
}

.products-carousel {
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  max-width: calc(100vw - var(--scrollbar-compensation));

  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-top: 40px;

  background-color: var(--COLOR-BG);
  border: #3c0def 1px dashed;
  // transition: visibility 0.8s ease-in-out;
  transition: visibility 0s linear 0.5s, opacity 0.3s linear;

  &--open {
    visibility: visible;
    opacity: 100%;
    transition: visibility 0s, opacity 0.5s linear;
    // transition: visibility 0.8s ease-in-out;
  }

  &__header {
    z-index: 99999;
    position: absolute;
    top: 30px;
    left: 0;
    height: fit-content;
    width: 100%;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-inline: 40px;
    }

    &__title {
      width: fit-content;
      font-family: inherit;
      border: none;
      background-color: var(--COLOR-BG);

      & p {
        display: flex;
        align-items: self-start;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.2px;
        text-transform: uppercase;

        & img {
          margin-right: 10px;
          transition: all 0.3s ease-in-out;
          &:hover {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg)
              brightness(104%) contrast(105%);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    &__close {
      height: 50px;
      width: 50px;
      border: 1px solid #ebebe2;
      background-color: var(--COLOR-BG);

      @include flexCenter;
      & img {
        height: 10px;
        width: 10px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg)
          brightness(104%) contrast(105%);
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        border: 1px solid #cacaca;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        img {
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  &__wrapper {
    border: 2px darkblue dashed;
    height: 70vh;
    // max-width: 1700px;
    // min-height: 60vh;
    width: 100vw;
  }
  &__preview {
    position: absolute;
    left: 50%;
    bottom: 0;

    border: 2px rgb(255, 110, 47) dashed;
    height: fit-content;
    max-height: 130px;
    min-height: 90px;
    max-width: calc(100vw - var(--scrollbar-compensation));
    transform: translate(-50%);

    padding-top: 10px;
    padding-bottom: 40px;

    overflow-x: auto;
    overflow-y: hidden;
    @media (width <= 750px) {
      min-height: fit-content;
      padding-bottom: 10px;
    }
  }
}
