.container {
  position: relative;
  min-width: calc(100vw - 115px);

  // border: 2px rgb(0, 0, 0) solid;
}

.header {
  z-index: 50;
  position: fixed;
  height: 10rem;
  width: 100%;
  // border: 2px rgb(255, 46, 255) solid;
}

.content {
  // height: calc(100vw * 1.9273);
  display: flex;
  flex-direction: column;
  border: 2px rgb(255, 46, 88) solid;
  height: min-content;

  .hero {
    height: calc(100vw * 1.3102);
    border: 2px rgb(49, 46, 255) solid;
  }

  .products {
    // height: calc(100vw * 1.517);
    height: min-content;
    border: 2px rgb(46, 234, 255) solid;
  }

  @media (width >= 46.87em) {
    height: fit-content;
    // height: calc(100vw * 2.45739);
    .hero {
      height: calc(100vw * 0.70078);
    }
    .products {
      // height: calc(100vw * 1.417);
      height: fit-content;
    }
  }
  // @include respond(tab-port) {
  // }
}

.footer {
  height: calc(100vw * 0.59);

  border: 2px rgb(46, 255, 140) solid;
  @media (width >= 46.87em) {
    height: calc(100vw * 0.45);
    max-height: 70rem;
  }
}
